.droplet {
	background: mediumaquamarine;
	border-radius: 2% 50%;
	height: 100px;
	width: 100px;
	margin: 100px;
	transition: all 3s;
	transition-timing: ease-in-out;

	&:hover {
		//makes three full rotations
		transform: rotate(1080deg);
	}
}